
.main .top-bar .add {
  display: flex;
}

#view {
  height: calc( 100% - 60px );
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container .item {
  display: grid;
  grid-template-columns: 1fr 100px;
  background: var(--bg2-light-mode);
  border-radius: 5px; 
  margin-bottom: 20px;
  width: 100%;
}

.theme-dark .container .item {
  background: var(--bg2-dark-mode);
}

.container .item > div {
  position: relative;
  display: grid;
  grid-template-columns: 50px 50px 1fr 1fr;
  gap: 10px;
  padding: 20px 5px;
  color: var(--bg-dark-mode);
  overflow: hidden;
  transition: 0.2s;
}

.theme-dark .container .item > div {
  color: var(--bg-light-mode);
}

.container .item > div span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.9em;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
}

.container .item > div:hover span {
  height: fit-content;  
}

.container .item > div span.lang {
  text-transform: uppercase;
}

.container .item .action {
  display: flex;
  padding: 20px 5px;
}

.container .item .action a {
  display: flex;
  width: 50%; height: 25px;
  justify-content: center;
}

.container .item .action a svg {
  color: var(--bg-dark-mode);
  fill: var(--bg-dark-mode);
  transition: 0.2s;
}

.theme-dark .container .item .action a svg {
  color: var(--bg-light-mode);
  fill: var(--bg-light-mode);
}

.container .item .action a.edit:hover svg {
  fill: var( --color-website );
}

.container .item .action a.delete:hover svg {
  color: #ff2d2d;
}

