
:root {
  /* --color-website : #fe7802; */
  /* --color-website : #007fff; */
  --color-website2 : #0d1117;

  --bg-light-mode: #fff;
  --bg-dark-mode: #0d1117;

  --bg2-light-mode: #eee;
  --bg2-dark-mode: #1e2228;

  --bg3-light-mode: #ccc;
  --bg3-dark-mode: #40444a;

  --border-light-mode: #ddd;
  --border-dark-mode: #2f3339;


  --primary-color: #007fff;

  --primary-bg1-color: var(--bg-light-mode);
  --primary-bg2-color: var(--bg2-light-mode);
  --primary-bg3-color: var(--bg3-light-mode);

  --primary-border-color: var(--border-light-mode);

  --primary-text1-color: var(--bg-dark-mode);
  --primary-text2-color: var(--bg2-dark-mode);
  --primary-text3-color: var(--bg3-dark-mode);
}

.theme-dark {
  --primary-bg1-color: var(--bg-dark-mode);
  --primary-bg2-color: var(--bg2-dark-mode);
  --primary-bg3-color: var(--bg3-dark-mode);

  --primary-border-color: var(--border-dark-mode);

  --primary-text1-color: var(--bg-light-mode);
  --primary-text2-color: var(--bg2-light-mode);
  --primary-text3-color: var(--bg3-light-mode);
}

::selection {
  background: var(--primary-color);
  color: var(--bg-light-mode);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--bg-light-mode);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-bg2-color);
  border: 1px solid var(--primary-border-color);
}

::-webkit-scrollbar-thumb:active {
  background: #007fff7d;
  border: 1px solid var(--primary-color);
}


/* ---------- Poppins ---------- */

@font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
}
/* @font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-Bold.ttf);
  font-weight: 700;
} */
@font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
/* @font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: poppins;
  src: url(/lib/fonts/Poppins-Thin.ttf);
  font-weight: 100;
} */



*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'poppins';
}

.width-page {
  position: relative;
  max-width: 1300px;
  margin: auto;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
}

svg {
  width: 18px;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary-bg1-color);
  color: var(--primary-text1-color);
}

