
.container {
  position: relative;
  background: var(--primary-bg1-color);
  padding: 15px 5px;
}

.container > .content {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-gap: 20px;
  max-width: 1050px;
}

.content .content-search {
  position: relative;
  width: 100%;
  max-width: 720px;
}

.content-search .resultat {
  display: flex;
  margin-bottom: 10px;
  background: var(--primary-bg1-color);
  border: 1px solid var(--primary-border-color);
  overflow: hidden;
}

.content-search .resultat .imgbx {
  position: relative;
  min-width: 230px; height: 100%;
  aspect-ratio: 3/2;
  background: #f5f5f5;
}

.theme-dark .content-search .resultat .imgbx {
  background: #171717;
}

.content-search .resultat .imgbx img {
  position: absolute;
  width: 100%; height: 100%;
  object-fit: cover;
}

.content-search .resultat .resultat-search {
  position: relative;
  width: 100%;
}

.content-search .resultat .resultat-search h2 {
  font-size: 1.1em;
  font-weight: 500;
  width: 100%;
  padding: 5px 10px;
  color: var(--primary-text2-color);
  border-bottom: 1px solid var(--primary-border-color);
  overflow: hidden;
}

.content-search .resultat:hover .resultat-search h2 {
  color: var(--primary-color);
}

.content-search .resultat .resultat-search ul {
  padding: 10px 20px;
  color: var(--primary-text2-color);
  font-size: 0.85em;
  font-weight: 500;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
}

.content-aside {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.content-aside .blog-aside aside {
  margin-bottom: 20px;
}

.content-aside aside {
  padding: 10px;
  height: fit-content;
  overflow: hidden;
  background: var(--primary-bg1-color);
}

.content .content-aside aside.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 25px 10px;
  background: var(--primary-color);
}

.content .content-aside aside.newsletter svg {
  width: 60px;
}

.content .content-aside aside.newsletter h3 {
  margin-top: 10px;
  color: var(--light-color);
}

.content .content-aside aside.newsletter .whatsapp-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--whatsapp-color);
  margin-top: 5px;
}

.content .content-aside aside.newsletter .whatsapp-button span {
  margin: 0;
}

.content .content-aside aside.newsletter .whatsapp-button span.text {
  margin: 0;
  color: var(--light-color);
  font-size: 0.9em;
  font-weight: 500;
}

.content .content-aside aside.newsletter .whatsapp-button .svg {
  display: flex;
  margin-right: 5px;
}

.content .content-aside aside.newsletter .whatsapp-button .svg svg {
  width: 25px;
}

.content .content-aside aside.newsletter span {
  margin-top: 10px;
  font-size: 0.8em;
  color: var(--light-color);
}


.content-aside aside.pub {
  background: transparent;
  position: sticky;
  top: 60px;
}

.content-aside aside.pub span {
  display: block;
  width: fit-content;
  padding: 0 5px;
  border: 1px solid var(--primary-bg3-color);
  margin-bottom: 5px;
  font-size: 0.7em;
  color: var(--primary-bg3-color);
}

.content-aside aside.pub a {
  position: relative;
  display: block;
}

.content-aside aside.pub a img {
  position: relative;
  width: 100%;
}


@media all and (max-width:900px) {
  .container > .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content .content-aside {
    display: none;
  }
  .container {
    position: relative;
    background: var(--primary-bg1-color);
    padding: 15px 0px;
  }
}


@media all and (max-width: 600px) {
  .content-search .resultat {
    height: 120px;
  }
  .content-search .resultat .imgbx {
    min-width: 180px;
  }
  .content-search .resultat .resultat-search h2 {
    font-size: 1em;
  }
  .content-search .resultat .resultat-search ul {
    font-size: 0.8em;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .content-search .resultat .resultat-search ul li {
    margin-right: 15px;
  }
  
}

@media all and (max-width: 500px) {
  .content-search .resultat .imgbx {
    min-width: 130px;
  }
  .content-search .resultat .resultat-search h2 {
    font-size: 0.9em;
    padding: 3px 10px;
    max-height: 73px;
  }
  .content-search .resultat .resultat-search ul {
    font-size: 0.7em;
  }
}

